<div>
<h4>Our Store</h4>
<div class="row">
            <div class="col-xs-12
                        col-sm-6
                        col-md-6
                        col-lg-6">
            <h4><font text-decoration="underline">Store</font></h4>
            <div class="list-group">
                <p class="list-group-item"><i class="fa fa-gift fa-fw"></i> Opening hours<br>
                Monday to Friday: 11am to 9pm<br>
                Saturday to Sunday: 11am to 10pm<br>
                </p>
                <address><p class="list-group-item"><i class="fa fa-map-marker fa-fw"></i> Store location<br>
                Ellery J<br>
                6 Scotts Road<br>
                #03-11 Scotts Square<br>
                Singapore 228209<br>
                </p></address>
                
            </div>
            
            </div>
            
            <div class="col-xs-12
                        col-sm-6
                        col-md-6
                        col-lg-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7945112685466!2d103.78525561430577!3d1.2980153990532766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a4fed92dc05%3A0x729440ee2c86a913!2s79+Ayer+Rajah+Crescent%2C+Singapore+139955!5e0!3m2!1sen!2ssg!4v1492591199397"> </iframe>
                </div>
            </div>
            
        </div>
</div>