<div>
<div class="jumbotron">
  <div class="container landingtagline">
      <p>Where the magic begins</p>
      <p><a class="btn btn-primary btn-sm btn-ellery" href="#shop" role="button">Shop</a></p>
 </div>
</div>


<div class="instagramSectionTitle"><h5>FOLLOW US ON<br>INSTAGRAM</h5></div>

<iframe src="//lightwidget.com/widgets/29fbf86149df5c7b8c79fbddc7ee6f89.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>